<div class="profile">
  <div class="profile__main">
    <h1 style="float:left">{{ profile.username }}</h1>
    {% if fl.is_following %}
      <div class="follow-btn followed" data-username="{{ profile.username }}">Following</div>
    {% else %}
      <div class="follow-btn unfollowed" data-username="{{ profile.username }}">Follow</div>
    {% endif %}
  </div>
  <div class="follow-cnt">
    <a href="#" class="black-text"><b>{{ following_cnt }}</b> following</a>
    <a href="#" class="black-text"><b>{{ followers_cnt }}</b> followers</a>
  </div>
</div>
<div class="divider"></div>
<div class="posts">
  <div class="row">
    {% with posts=posts actions='admin'%}
      {% include 'post/list-public.html' %}
    {% endwith %}
  </div>
</div>