{% extends 'base.html'%}
{% load static %}

{% block title %} {{ profile.username }} {% endblock %}

{% block content %}
  
  <div class="profile__general">
    <div class="profile__image">
      
      {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" width="100px" height="100px" />
      {% else %}
        <img src="{% static 'img/person-black-18dp.svg' %}" width="100px" height="100px" />
      {% endif %}
      
    </div>
    <div class="profile__username">{{ profile.username }}</div>
    
    {% if is_following %}
        <div class="follow-btn followed" data-username="{{ profile.username }}">Following</div>
    {% else %}
        <div class="follow-btn unfollowed" data-username="{{ profile.username }}">Follow</div>
    {% endif %}

  
  </div>

  {% with following_cnt=following_cnt followers_cnt=followers_cnt %}
    {% include 'profile/profile-follows.html' %}
  {% endwith %}
  {% if profile == user %}
    {% include 'profile/profile-private.html' %}
  {% else %}
    {% include 'profile/profile-public.html' %}
  {% endif %}
{% endblock %}