<div class="profile-follows">

    <div class="follow-cnt">
        <a href="#modal-followers" id="modal-followers-trigger" class="black-text modal-trigger"><b>{{ following_cnt }}</b> following</a>
        <a href="#modal-following" id="modal-following-trigger" class="black-text modal-trigger"><b>{{ followers_cnt }}</b> followers</a>
    </div>

    <div id="modal-followers" class="modal">
        <div class="modal-content">
            Followers
        </div>
    </div>

    <div id="modal-following" class="modal">
        <div class="modal-content">
            Following
        </div>
    </div>

</div>


