<nav>
  <div class="nav-wrapper blue">
    <a href="{% url 'home' %}" class="brand-logo">Блог</a>
    {% if not user.is_anonymous %}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="{% url 'profile-base' %}" class="material-icon__wrapper">
            <i class="material-icons left">person</i>
            <span>{{ user }}</span>
          </a>
        </li>
        <li>
          <a href="{% url 'logout' %}">
            Выйти
          </a>
        </li>
      </ul>
    {% endif %}
  </div>
</nav>