{% for i in n %}
  <div class="post">
    <a href="" class="black-text"><h3>Lorem ipsum dolor sit amet, consectetur.</h2></a>
    <span>Author</span>
    <span>Date</span>
    <div class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est beatae omnis optio cumque consequatur voluptatibus deleniti debitis fugit in, sequi perspiciatis repudiandae aspernatur nulla dicta. Obcaecati cumque reprehenderit, quam quae quia quaerat est omnis doloribus et sed eaque eos incidunt, sequi eveniet aliquam, quis doloremque voluptatem corporis rerum eum aperiam ex? Mollitia ad, ut alias aliquam. Odio dolore consectetur illum necessitatibus, ipsam eius, ad veritatis reprehenderit eos vero non, possimus sed. Quod, ex excepturi temporibus necessitatibus, tempore architecto sunt nulla ipsum esse natus mollitia praesentium! Distinctio incidunt magnam aut cupiditate aspernatur voluptates. Ratione nulla voluptas voluptates rem earum sapiente laborum.</div>

    {% if actions == 'default' %}
      {% include 'inc/post/post-actions-default.html' %}
    {% else %}
      {% include 'inc/post/post-actions-admin.html' %}
    {% endif %}
  </div>
{% endfor %}