.container {
  position: relative;
}
.follow-list {
  max-width: 250px;
  margin: 35px auto;
}

.follow-list li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.follow-btn {
  cursor: pointer;
}

.followed {
  color: #000;
}

.unfollowed {
  color: #2196F3;
}

.post {
  margin-bottom: 20px;
}

.sign-in {
  width: 400px;
  margin: 30px auto;
}

.follow-cnt {
  width: 200px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.material-icon__wrapper {
  display: flex;
  align-items: center;
}
.material-icon__wrapper span {
  padding-left: 3px;
}

.post-add-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile {
  margin-bottom: 20px;
}

.profile__main {
  display: flex;
  align-items: center;

}
.profile__main h1 {
  margin: 20px 30px 20px 0;
}

.profile__instruments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-instruments {
  padding-top: 5px;
  display: flex;
}
.admin-instruments a {
  margin-right: 10px;
}

.mark-btn {
  cursor: pointer
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}