<ul class="follow-list">
  {% for fl in follow_list %}
    <li>
      <a href="{% url 'profile' fl.username %}" class="material-icon__wrapper">
        <i class="material-icons">person</i>
        <span class="black-text">{{ fl.username }}</span>
      </a>
      {% if fl.is_following %}
        <div class="follow-btn followed" data-username="{{ fl.username }}">Following</div>
      {% else %}
        <div class="follow-btn unfollowed" data-username="{{ fl.username }}">Follow</div>
      {% endif %}
    </li>
  {% endfor %}
</ul>