.container {
  position: relative;
}


.default-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow-list {
  max-width: 250px;
  margin: 35px auto;
}

.follow-list li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.follow-btn {
  cursor: pointer;
}

.followed {
  color: #000;
}

.unfollowed {
  color: #2196F3;
}

.post_wrapper {
  border: 1px solid rgba(99, 110, 114,.5);
  border-radius: 2.5px;
  margin-top: 20px;
  padding: 10px 0 0px 0;
  overflow: hidden;
}

.post__general {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.post__title {
  font-size: 24px;
}

.post__content {
  color: rgba(45, 52, 54,1.0);
  font-size: 16px;
  padding-top: 10px;
}

.sign-in {
  width: 400px;
  margin: 30px auto;
}

.follow-cnt {
  width: 200px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.material-icon__wrapper {
  display: flex;
  align-items: center;
}
.material-icon__wrapper span {
  padding-left: 3px;
}

.post-add-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile {
  margin-bottom: 20px;
}

.profile__main {
  display: flex;
  align-items: center;

}
.profile__main h1 {
  margin: 20px 30px 20px 0;
}

.instruments {
  margin: 15px 0 10px;
}

.profile__instruments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-instruments {
  padding-top: 5px;
  display: flex;
}
.admin-instruments a {
  margin-right: 10px;
}

.mark-btn {
  cursor: pointer
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.post__image {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 100;
  max-height: 400px;
}

.post__image img {
  max-width: 100%;
}


.profile-form-container {
  max-width: 350px;
  margin: 0 auto;
  width: 100%;
}

label {
  color: rgba(140,140,140, 1.0);
}
.profile-change-password ul > li {
  color: rgba(158,158,158, .8);
  font-size: 0.85rem;
}

.profile-change-password ul.errorlist > li {
  color: red;
}