{% extends 'base.html' %}
{% block content %}
<div class="sign-in">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
        <i class="material-icons prefix">enhanced_encryption</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
     <a href="#" class="btn waves-effect waves-teal center-align">Sign In</a>
    </form>
  </div>
</div>
{% endblock %}
